/.claude
/.opencode
/.github/skills
/.github/copilot-instructions.md
AGENTS.md
CLAUDE.md
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/storage/*.key
/storage/pail
/vendor
.DS_Store
.env
.env.backup
.env.production
.env.testing
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
boost.json
.mcp.json
ray.php
phpunit.xml
*.code-workspace


# Sentry Config File
.env.sentry-build-plugin
