includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    level: 5
    paths:
        - app/
    excludePaths:
        - app/Services/MarketingEmail/Recipients/MailcoachRecipientService.php
    scanFiles:
        - _ide_helper_models.php
    treatPhpDocTypesAsCertain: false